@font-face {
  font-family: Inter-Bold;
  src: url("./assets/fonts/Inter-Bold.woff2");
}

@font-face {
  font-family: Inter-Regular;
  src: url("./assets/fonts/Inter-Regular.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: var(--color-primary-900);
  display: flex;
  width: 100%;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

a {
  text-decoration: none;
}

#root {
  width: 100%;
}

:root {
  font-size: 14px;
  --color-button-text: #fff;
  --color-primary-100: #dee3ea;
  --color-primary-200: #b2bdcd;
  --color-primary-300: #5d7290;
  --color-primary-600: #323d4d;
  --color-primary-700: #242c37;
  --color-primary-800: #151a21;
  --color-primary-900: #0b0e11;
  --color-secondary-washed-out: #879eed;
  --color-secondary: #5575e7;
  --color-accent-glow: rgba(253, 77, 77, 0.3);
  --color-accent: #fd4d4d;
  --color-accent-hover: #fd6868;
  --color-accent-disabled: #f5bfbf;
  --screen-height-reduction: 0px;
  --color-primary-100-translucent: rgba(222, 227, 234, 0.15);
}

.loading-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  height: 3px;
  background-color: #fd4d4d;
}

@media (max-width: 800px) {
  .loading-spinner {
    display: none;
  }
}

button[disabled] {
  opacity: 0.8;
}
